<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/blogForm.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>POST A BLOG</h3>
        <form action="/createBlog" method="post">
            <input type="text" name="title" placeholder="enter a title">
            <textarea name="blog" id="" cols="30" rows="10" placeholder="enter a blog"></textarea>
            <input type="submit" value="Post" class="btn">
        </form>
    </div>
    
</body>
</html>